In [2]:
import pandas as pd

equivalencias = pd.read_csv('data/equivalencia_cajas.csv', encoding = "ISO-8859-1")
stock_saves = pd.read_csv('data/delta_s_por_sku.csv')

In [17]:
data = stock_saves.merge(equivalencias)

In [18]:
data['INVENTARIO_AHORRADO_PROMEDIO'] = data.apply(lambda x: (x['SUM(PREVENTA)'] * (x['CAPAS_X_PALLET'] - 1)) / 2 if x['CAPAS_X_PALLET'] > 1 else x['SUM(PREVENTA)'], axis=1)

In [19]:
data

,ID_SKU_VENTA,SUM(PREVENTA),DESCR_SKU_LONG,CAJAS_POR_PALLET,CAJAS_POR_CAPA,CAPAS_X_PALLET,INVENTARIO_AHORRADO_PROMEDIO
0,515,-34.800730,AUSTRAL VRE1000X12-TR,40,10.0,4,-52.201095
1,592,-270.726693,ROY.GUARD VRE1000X12,40,10.0,4,-406.090040
2,595,-45.880580,ROY.GUARD 6PFX4-LAT350,100,10.0,10,-206.462608
3,622,-28.272011,CRISTAL KEG30LT,8,8.0,1,-28.272011
4,763,-16.463973,ESCUDO VRE500CCX20-TC,50,10.0,5,-32.927945
...,...,...,...,...,...,...,...
1687,875225,-1.546189,GATORADE NARANJA PET 500 6X5,270,45.0,6,-3.865472
1688,875359,0.000000,V POLIP PEPSI FRITZ 680CCX100,1,1.0,1,0.000000
1689,875364,0.000000,V POLIP PEPSI P STOP 500CCX100,1,1.0,1,0.000000
1690,875365,0.000000,V POLIP PEPSI P STOP 680CCX100,1,1.0,1,0.000000
1691,875556,0.000000,RON X12+GINGER NORTE,1,1.0,1,0.000000

In [20]:
data = data.drop(columns=['DESCR_SKU_LONG', 'CAJAS_POR_PALLET', 'CAJAS_POR_CAPA', 'SUM(PREVENTA)', 'CAPAS_X_PALLET'], axis=1)

In [21]:
data

      ID_SKU_VENTA  INVENTARIO_AHORRADO_PROMEDIO
0              515                    -52.201095
1              592                   -406.090040
2              595                   -206.462608
3              622                    -28.272011
4              763                    -32.927945
...            ...                           ...
1687        875225                     -3.865472
1688        875359                      0.000000
1689        875364                      0.000000
1690        875365                      0.000000
1691        875556                      0.000000

[1692 rows x 2 columns]

In [23]:
with open('data/delta_inventario_promedio_por_sku.csv', 'w') as file:
    file.write('ID_SKU_VENTA' + ',' + 'INVENTARIO_PROMEDIO_AHORRADO' + '\n')
    
    for index, row in data.iterrows():
        file.write(str(row['ID_SKU_VENTA']) + ',' + str(row['INVENTARIO_AHORRADO_PROMEDIO']) + '\n')