In [1]:
import pandas as pd

equivalencias = pd.read_csv('data/equivalencia_cajas.csv', encoding = "ISO-8859-1")
stock_saves = pd.read_csv('data/delta_s_por_sku_por_cd.csv')

In [2]:
data = stock_saves.merge(equivalencias)

In [3]:
data

,ID_SKU_VENTA,DESCR_CENDIST,SUM(PREVENTA),DESCR_SKU_LONG,CAJAS_POR_PALLET,CAJAS_POR_CAPA,CAPAS_X_PALLET
0,515,ANTOFAGASTA,30.890286,AUSTRAL VRE1000X12-TR,40,10.0,4
1,515,CASTRO,0.000000,AUSTRAL VRE1000X12-TR,40,10.0,4
2,515,COPIAPO,0.000000,AUSTRAL VRE1000X12-TR,40,10.0,4
3,515,COQUIMBO,0.000000,AUSTRAL VRE1000X12-TR,40,10.0,4
4,515,COYHAIQUE,0.000000,AUSTRAL VRE1000X12-TR,40,10.0,4
...,...,...,...,...,...,...,...
40603,875556,LOS ANGELES,0.000000,RON X12+GINGER NORTE,1,1.0,1
40604,875556,MODELO,0.000000,RON X12+GINGER NORTE,1,1.0,1
40605,875556,OSORNO,0.000000,RON X12+GINGER NORTE,1,1.0,1
40606,875556,RANCAGUA,0.000000,RON X12+GINGER NORTE,1,1.0,1
40607,875556,CALAMA,0.000000,RON X12+GINGER NORTE,1,1.0,1

In [4]:
data['INVENTARIO_AHORRADO_PROMEDIO'] = data.apply(lambda x: (x['SUM(PREVENTA)'] * (x['CAPAS_X_PALLET'] - 1)) / 2 if x['CAPAS_X_PALLET'] > 1 else x['SUM(PREVENTA)'], axis=1)

In [5]:
data

,ID_SKU_VENTA,DESCR_CENDIST,SUM(PREVENTA),DESCR_SKU_LONG,CAJAS_POR_PALLET,CAJAS_POR_CAPA,CAPAS_X_PALLET,INVENTARIO_AHORRADO_PROMEDIO
0,515,ANTOFAGASTA,30.890286,AUSTRAL VRE1000X12-TR,40,10.0,4,46.33543
1,515,CASTRO,0.000000,AUSTRAL VRE1000X12-TR,40,10.0,4,0.00000
2,515,COPIAPO,0.000000,AUSTRAL VRE1000X12-TR,40,10.0,4,0.00000
3,515,COQUIMBO,0.000000,AUSTRAL VRE1000X12-TR,40,10.0,4,0.00000
4,515,COYHAIQUE,0.000000,AUSTRAL VRE1000X12-TR,40,10.0,4,0.00000
...,...,...,...,...,...,...,...,...
40603,875556,LOS ANGELES,0.000000,RON X12+GINGER NORTE,1,1.0,1,0.00000
40604,875556,MODELO,0.000000,RON X12+GINGER NORTE,1,1.0,1,0.00000
40605,875556,OSORNO,0.000000,RON X12+GINGER NORTE,1,1.0,1,0.00000
40606,875556,RANCAGUA,0.000000,RON X12+GINGER NORTE,1,1.0,1,0.00000
40607,875556,CALAMA,0.000000,RON X12+GINGER NORTE,1,1.0,1,0.00000

In [6]:
data = data.drop(columns=['DESCR_SKU_LONG', 'CAJAS_POR_PALLET', 'CAJAS_POR_CAPA', 'SUM(PREVENTA)', 'CAPAS_X_PALLET'], axis=1)

In [7]:
data

       ID_SKU_VENTA DESCR_CENDIST  INVENTARIO_AHORRADO_PROMEDIO
0               515   ANTOFAGASTA                      46.33543
1               515        CASTRO                       0.00000
2               515       COPIAPO                       0.00000
3               515      COQUIMBO                       0.00000
4               515     COYHAIQUE                       0.00000
...             ...           ...                           ...
40603        875556   LOS ANGELES                       0.00000
40604        875556        MODELO                       0.00000
40605        875556        OSORNO                       0.00000
40606        875556      RANCAGUA                       0.00000
40607        875556        CALAMA                       0.00000

[40608 rows x 3 columns]

In [8]:
with open('data/delta_inventario_promedio_por_sku_por_cd.csv', 'w') as file:
    file.write('ID_SKU_VENTA' + ',' + 'DESCR_CENDIST' + ',' + 'INVENTARIO_PROMEDIO_AHORRADO' + '\n')
    
    for index, row in data.iterrows():
        file.write(str(row['ID_SKU_VENTA']) + ',' + str(row['DESCR_CENDIST']) + ',' + str(row['INVENTARIO_AHORRADO_PROMEDIO']) + '\n')