In [15]:
import pandas as pd
from datetime import datetime
from datetime import date
import json
import math
import xlrd
import numpy as np

conf = 90
FILE_DELTAS = f'../deltas/tabla agrupacion variabilidad 95.xlsx'
FILE_CONVERSIONES = '../data/conversiones_unidades.csv'
FILE_VALORES = '../data/Valor por SKU.csv'
deltas = pd.read_excel(FILE_DELTAS)
deltas = deltas.drop(columns='Unnamed: 0')
conversiones = pd.read_csv(FILE_CONVERSIONES, encoding = "ISO-8859-1")[['ID_SKU_VENTA', 'CAJAS_POR_PALLET']]
valor_por_sku = pd.read_csv(FILE_VALORES, encoding = "ISO-8859-1")[['SKU', 'Precio Caja']]

sku_pallets = {}
for index, row in conversiones.iterrows():
    sku_pallets[row['ID_SKU_VENTA']] = row['CAJAS_POR_PALLET']
    
valor_por_sku['Precio Pallet'] = valor_por_sku.apply(lambda x: x['Precio Caja'] * sku_pallets[x['SKU']], axis=1)
valor_por_sku = valor_por_sku.rename(columns={'SKU': 'ID_SKU_VENTA'})

final_frame = deltas.merge(valor_por_sku)

print(-(final_frame['DELTA'] * final_frame['Precio Pallet']).sum())
print(-final_frame['DELTA'].sum())

1823228144.022606
2824.2316505459844

,ID_SKU_VENTA,DESCR_CENDIST,STOCK_PRE,STOCK_POST,STD_DEMANDA,DELTA,Precio Caja,Precio Pallet
0,515,ANTOFAGASTA,1.072244,1.304258,0.707064,0.232014,15076.045720,603041.82880
1,515,ARICA,0.175551,0.041857,0.140730,-0.133694,15076.045720,603041.82880
2,515,CALAMA,0.641342,0.219591,0.443948,-0.421751,15076.045720,603041.82880
3,515,CASTRO,0.406425,0.120733,0.300728,-0.285692,15076.045720,603041.82880
4,515,CHILLAN,0.762630,0.276593,0.511619,-0.486038,15076.045720,603041.82880
...,...,...,...,...,...,...,...,...
22832,875225,SANTIAGO SUR,0.048895,0.089465,0.041497,0.040570,2664.644839,719454.10653
22833,875225,TALCA,0.084630,0.081340,0.065796,-0.003290,2664.644839,719454.10653
22834,875225,TALCAHUANO,0.074204,0.089072,0.063743,0.014868,2664.644839,719454.10653
22835,875225,TEMUCO,0.088942,0.085517,0.068498,-0.003425,2664.644839,719454.10653
22836,875225,VALDIVIA,0.004187,0.018505,0.004112,0.014318,2664.644839,719454.10653